html
  head
    title Kubercade Home
    link(rel="shortcut icon" type="image/png" href="images/favicon.ico")
    style
      include style.css
    link(href="https://fonts.googleapis.com/css?family=Lexend+Deca|Press+Start+2P&display=swap" rel="stylesheet")
    script
      include js/navigation.js
    script
      include js/chatControl.js
    script(defer)
      include js/submitScore.js
    meta(name="viewport" content="width=device-width, initial-scale=1")
  body
    #wrapper_grid
      #nav_bar
        a.logo(onClick='changeActivePage("/nexus", "general", "General")')
          img(src='images/kubercade logo.png' alt='Kubercade logo')
        a.navtab(onClick='changeActivePage("/nexus", "general", "General")')
          div Nexus
        .navtab.dropdown
          div Games
          .dropdown-content
            each gameInfo in gamesList
              a.navtab(onClick=`changeActivePage("/games/${gameInfo.game}", "${gameInfo.game}", "${gameInfo.name}")`)= gameInfo.name
        .navtab.dropdown
          div High Scores
          .dropdown-content
            each gameInfo in gamesList
              a.navtab(onClick=`changeActivePage("/scores/${gameInfo.game}", "${gameInfo.game}", "${gameInfo.name}")`)= gameInfo.name 
      #content_window
        iframe#kubercade_iframe(
          src='/nexus',
          onLoad='iframeChange(this.contentWindow.location)'
        )
        div(onClick="showChat()")#show_chat_button.clickable Chat
      #chat_window
        #chat_top_bar
          .dropdown.clickable.button
            p#chat_room_label Chat - General &#x25BE;
              .dropdown-content
                a(onClick='changeChatRoom("general", "General")').clickable General
                each gameInfo in gamesList
                  a(onClick=`changeChatRoom("${gameInfo.game}", "${gameInfo.name}")`).clickable= gameInfo.name
          div(onClick="hideChat()")#hide_chat_button.clickable Hide
        #chat_messages
          .individual_chat_message.center
            p Loading chat...
        #chat_form
          .input_row
            a(onClick="refreshChat()").refresh_button.clickable &#x1F504;
            input(type="text" placeholder="Name (optional)" maxlength="80").text_input#name_input
            a(onClick="postMessageToChat()").submit_button.clickable Send
          .input_row
            textarea(placeholder="Say something..." maxlength="400").text_input#message_input
            p#chat_char_counter 0/400
